In [2]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv('spending.csv')
df.head(20)

,Unnamed: 0,Date,mode_of_purchase,sporting_equipment,store,estimated_spending,number_of_items_bought
0,0,2019-08-01,order,fitness,east,119.412,5
1,1,2019-08-01,order,jog/run,south,212.506,6
2,2,2019-08-01,order,pilates,south,107.512,4
3,3,2019-08-01,order,pilates,east,65.651,5
4,4,2019-08-01,physical_collection,diving,west,64.871,2
5,5,2019-08-01,order,skate/roller,east,147.652,1
6,6,2019-08-01,order,surfing,east,115.652,2
7,8,2019-08-01,order,trail,east,148.024,3
8,9,2019-08-01,order,boxing,east,29.201,1
9,10,2019-08-01,order,football,east,49.058,2
10,12,2019-08-01,order,swimming,south,119.787,3
11,13,2019-08-01,order,surfing,south,92.619,3
12,14,2019-08-01,order,jog/run,east,362.108,4
13,15,2019-08-01,order,cycling,east,68.510,5
14,16,2019-08-01,order,basketball,south,109.148,3
15,17,2019-08-01,physical_collection,yoga,west,13.025,3
16,18,2019-08-01,order,hiking/trekking,east,851.105,11
17,19,2019-08-01,physical_collection,swimming,west,17.904,4
18,20,2019-08-01,order,football,south,23.003,4
19,21,2019-08-01,order,yoga,east,79.124,1